#carpetas de compilación e IntelliJ
target/
.idea/
out/
*.iml
*.iws
*.ipr


/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml

#archivos del sistema
.DS_Store
Thumbs.db
desktop.ini